doctype html
html(lang='en')

  head

    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // Favicon
    link(rel='icon' type='image/x-icon' href='assets/favicon-32x32.png')
    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css' rel='stylesheet')
    title Frontend Mentor | Product preview card component

  body.mont
    .container
      .card.col-md-6.rounded.rounded-4
        .row.g-0
          .col-md-6
            img(src='assets/image-product-desktop.jpg' alt='' class='rounded-4-start img-fluid d-none d-md-block')
            img(src='assets/image-product-mobile.jpg' alt='' class='rounded-4-top img-fluid d-block d-md-none')
          .col-md-6
            .card-body.h-100.d-flex.flex-column.justify-content-between
              h6.card-text.text-uppercase perfume
              h2.card-title.fraunces Gabrielle Essence Eau De Parfum
              p.card-text
                | A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.
              p.card-text.text-success.fs-2.fraunces
                | $149.99 
                small.fs-6.text-decoration-line-through.arial $169.99
              a.btn.btn-success.col-12.py-2-3(href='')
                img(src='assets/icon-cart.svg' alt='')
                | Add to Cart
    .sticky-sm-bottom.attribution.text-center
      | Challenge by 
      a(href='https://www.frontendmentor.io?ref=challenge' target='_blank') Frontend Mentor
      | Coded by 
      a(href='#') battim

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js')
    // Core theme JS
    script(src='js/scripts.js')
